doctype html
head
  title Tic tac toe
  meta(charset='UTF-8')
h1 Tic Tac Toe
h2
  | Player 
  span#player X
  |  your turn
.table-container
  table.board
    tr
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
    tr
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
    tr
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
    tr
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
    tr
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
      td
        .cell
button#restart Restart
script(src='src/index.js')